@import 'guide.scss';

// Main Container
.main-wrapper {
	width: 100%;
	height: auto;
}
.quote {
	font-size: 2.2em;
}
.quote__divider {
	background-image: url(../assets/icons/pattern-divider-mobile.svg);
}

// Breakpoint
@media screen and (width: 540px) {
	body {
		padding: 0 25px;
	}
}